
body{
	background-image:url("../Graphics/homepage-background.jpg");
	background-size:cover;

}
h1{
	color: white;
	text-align: center;
}
ul{
      padding: 10px;
      background: black;
    }
li{
      display: inline;
      padding: 0px 10px 0px 10px;
    }
.nav{
	display: inline-block;
	margin:0 auto;
	background-color: black;

}

iframe{
	padding: 60px;

}